@import 'materialize';
body {
  background-color: grey;
  padding: 0;
  margin-top: 0;
}
li {
  font-size: 18px;
}
p {
  font-size: 17px;
}

.body_width {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: -100px;
}
/*>>>>>>>>>>>>>> HOME PAGE>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


#bg {
  height: 100vh;
  background-image: url(asset_path('MagnificHome.jpg'));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.home_title {
  margin-top: 45px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}



/*>>>>>>>>>>>>>>ABOUT US PAGE>>>>>>>>>>>>>>>>>>>>>>>>>*/

.magnific_title {
  text-shadow: 2px 2px 4px #424242;
  color: #212121;
  font-weight: bold;
}

#bg {
  height: 100vh;
  background-image: url(asset_path('MagnificHome.jpg'));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


@media only screen and (max-width: 200px) {
  .magnific_title {
    font-size: 60px !important;
  }
}

.about_magnific {
  font-size: 18px;
  color: #212121;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-weight: bold;
}
.paragraph {
  margin-left: 4%
}
/*>>>>>>>>>>>>>>>>NAVBAR >>>>>>>>>>>>>>>>>>>*/
#nav {
  padding-left:20px;
  padding-top: 3px;
  height: 70px;
}
.nav-logo {
  padding-bottom: 6px;
  padding-top: -2px;
  padding-left: 1px;
  width: 200px;
  height: 67px;
}



/*>>>>>>>>>>>>>>>>>>>>>PRODUCTS>>>>>>>>>>>>>>>>>>> */
.product_title {
  font-size: 80px;
  text-shadow: 2px 2px 4px #424242;
  color: #212121;
}
.card_style {
  box-shadow: 10px 10px 5px grey;
}

.waves-effect {
  margin-right: 30px;
}
.products_div {
  width: 45%;
  float: left;
  background-color: white;
  margin-right: 5%;
  margin-bottom: 6%;
}
.products_page {
  margin-top: 7%;
}

.btn-xs {
  width: 100% !important;
}


/*>>>>>>>>>>>>>>>>>>>>> DEMOS >>>>>>>>>>>>>>>>>>>*/
.tek_title {
  font-size: 80px;
  color: #212121;
  text-shadow: 2px 2px 4px #424242;
}

.demo_title {
  font-size: 50px;
  color: #212121;
  text-shadow: 1px 1px 2px #424242;
  font-weight: bold;
}
.left-align {
  font-size: 80px;
}
.demo {
  color: blue;
}

/*>>>>>>>>>>>>>>>>HOWTOBUY>>>>>>>>>>>>>>>>>>*/

.purchase_title {
  font-size: 70px;
  color: #212121;
  text-shadow: 2px 2px 4px #424242;
}

.how_to_title {
  font-size: 40px;
  color: #212121;
  text-shadow: 2px 2px 4px #424242;
  font-weight: bold;
}

.pro_image {
  text-align: justify;
  border-radius: 8px;
  width: 100%;
}

.tas_film {
  text-align: justify;
  width:75%;
}

.style_pro {
  box-shadow: 10px 10px 5px grey;
  padding: 10px 20px
}

.style_tas {
  box-shadow: 10px 10px 5px grey;
  padding: 10px 20px
}



/*>>>>>>>>>>>>>>>>>>TEMPLATES<<<<<<<<<<<<<<<<<<<*/
.img {
 max-width: 1440px;
 max-height: 3300px;
 background: #000000;
}
/*>>>>>>>>>>>>>>>>MEDIA QUERIES<<<<<<<<<<<<<<<<<<*/
