@import 'materialize';


body {
  padding: 0;
  margin-top: 0;
}

li {
  font-size: 18px;
}

p {
  font-size: 17px;
}

.body_width {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: -100px;
}
/*>>>>>>>>>>>>>> HOME PAGE>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


#bg {
  height: auto;
  background-image: url(asset_path('MagnificHome.jpg'));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 5;
}


.home_title {
  margin-top: 45px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}



/*>>>>>>>>>>>>>>ABOUT US PAGE>>>>>>>>>>>>>>>>>>>>>>>>>*/

#bg, #content-bg {
    height: 100vh;
    background-image: url(asset_path('MagnificHome.jpg'));
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#bg {
  background-position: center top;
  padding: 70px 90px 120px 90px;
}

#content-container {
  position:relative;
}

#content-bg{
  position: absolute;
  min-width: auto;
  height: auto;
   top: 20px;
   right: 0px;
   bottom: 0px;
   left: 0px;
   z-index: 99;
   background-position: center 10px;

     -webkit-filter: blur(10px);
     filter: url('/media/blur.svg#blur');
     filter: blur(10px);
}

#content{
  position: relative;
    z-index: 100;
    padding: 20px;

}

.magnific_title {
  text-shadow: 2px 2px 4px #424242;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}


.about_magnific {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  font-weight: bold;
}
.paragraph {
  margin-left: 4%
}


/*>>>>>>>>>>>>>>>>NAVBAR >>>>>>>>>>>>>>>>>>>*/
#nav {
  padding-left:20px;
  padding-top: 3px;
  height: 70px;
}
.nav-logo {
  padding-bottom: 6px;
  padding-top: -2px;
  padding-left: 1px;
  width: 200px;
  height: 67px;
}

.phone_number {
  padding-right: 3px;
}

/*>>>>>>>>>>>>>>>>>>>>>PRODUCTS>>>>>>>>>>>>>>>>>>> */

#pro-back, #content-pro {
  height: 170vh;
  background-image: url(asset_path('MagnificHome.jpg'));
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

#pro-back {
  background-position: center top;
  padding: 70px 90px 120px 90px;
}

#products-container {
  position:relative;
}

#content-pro {
  position: absolute;
  min-width: auto;
  height: auto;

      top: 20px;
      right: 0px;
      bottom: -1150px;
      left: 0px;
      z-index: 99;
      background-position: center -130px;
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        -webkit-filter: blur(10px);
        filter: url ('/media/blue.svg#blur');
        filter: blur(10px);

}

#content{
  position: relative;
    z-index: 100;
    padding: 20px;
}

.product_title {
  text-shadow: 2px 2px 4px #424242;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}
.card_style {
  box-shadow: 10px 10px 5px grey;
}

.waves-effect {
  margin-right: 10px;
}


.btn {
  max-width: 100%;
  margin-bottom: 5px;
}

.card-action {
  opacity: 0.8;
}
/*>>>>>>>>>>>>>>>>>>>>> DEMOS >>>>>>>>>>>>>>>>>>>*/

#backg {
  height: 100vh;
  background-image: url(asset_path('MagnificHome.jpg'));
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.tek_title {
  text-shadow: 2px 2px 4px #424242;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

.demo_title {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 2px #424242;
  font-weight: bold;
}
.left-align {
  font-size: 80px;
}
.demo {
  color: blue;
}

/*>>>>>>>>>>>>>>>>HOWTOBUY>>>>>>>>>>>>>>>>>>*/

#how-back, #content-how  {
  height: 100vh;
  background-image: url(asset_path('MagnificHome.jpg'));
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#how-back {
  background-poistion: center top;
  padding: 70px 90px 120px 90px;
}

#content_container {
  position: relative;
}

#content-how {
  position: absolute;
  min-width: auto;
  height: auto;

    top: 20px;
    right: 0px;
    bottom: -450px;
    left: 0px;
    z-index: 99;
    background-position: center -130px;

      -webkit-filter: blur(10px);
      filter: url('/media/blur.svg#blur');
      filter: blur(10px);

}

.purchase_title {
  text-shadow: 2px 2px 4px #424242;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}

.how_to_title {
  text-shadow: 2px 2px 4px #424242;
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  text-align: center;
}

.pro_image {
  text-align: justify;
  border-radius: 8px;
  width: 100%;
}

.tas_film {
  text-align: justify;
  width:75%;
}

.style_pro {
  box-shadow: 10px 10px 5px grey;
  padding: 10px 20px
}

.style_tas {
  box-shadow: 10px 10px 5px grey;
  padding: 10px 20px
}

/*>>>>>>>>>>>>>>>>>>TEMPLATES<<<<<<<<<<<<<<<<<<<*/
.img {
 max-width: 1440px;
 max-height: 3300px;
 background: #000000;
}
/*>>>>>>>>>>>>>>>>MEDIA QUERIES<<<<<<<<<<<<<<<<<<*/

@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
  and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
  and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
  only screen and (-webkit-min-device-pixel-ratio : 1.5),
  only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
